@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-light-gray text-charcoal-black font-body antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}
